<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xcuni.guizhouyl.dao.TraceMapper">
    <!--<select id="getInfo" parameterType="String" resultType="traceInfo">-->
        <!--select departmentId,departmentName,flag,eventTime,dataHash,dataOwns,txId,dataType from traceInfo-->
        <!--where departmentId=#{id}-->
    <!--</select>-->

    <insert id="insertInfo" parameterType="traceInfo" >
        insert into traceInfo(departmentId,departmentName,flag,eventTime,dataHash,dataOwns,txId,dataType) values (#{departmentId},#{departmentName},#{flag},#{eventTime},#{dataHash},#{dataOwns},#{txId},#{dataType})
    </insert>

    <!--<resultMap type="StatisticalInfo" id="StatisticalMap1">-->
        <!--<id column="" property="" jdbcType=""></id>-->
    <!--</resultMap>-->
    <select id="getStaInfo" resultType="StatisticalInfo">
        SELECT departmentId,departmentName ,flag,count(*) as num from traceInfo
			GROUP BY departmentId,departmentName,flag
    </select>
    <select id="getDetailInfo" resultType="traceInfo">
        SELECT departmentId,departmentName ,flag,eventTime,dataHash,dataOwns,txId,dataType from traceInfo
    </select>
    <select id="getCount" resultType="int">
        SELECT count(*) from traceInfo
    </select>
</mapper>